.hotel-info-page-content{
    display: flex;
    justify-content: space-between;
}

.card-info-map{
    width: 880px;
    height: 730px;
    background-color: beige;

    border-radius: 20px;
}

.info-card-block{
    display: flex;
    flex-direction: column;

    height: 980px;
    overflow: scroll;
}